@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400|Raleway:200,300,400');

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$primary-font-color: #fef;
$primary-background: #222;

* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
}

header {
  background: $primary-background;
  position: relative;

  nav {
    font-size: 1.8rem;
    font-weight: 200;
    font-family: $primary-font;
    color: $primary-font-color;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 0px;
    background: $primary-background;
    opacity: 0.95;
    overflow: hidden;
    transition: all 0.4s ease-out;
    display: flex;
    flex-direction: column;
    z-index: 1;
    
    ul {
      margin-top: 50px;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        list-style: none;
        display: block;
        margin: 50px 20px;

        a {
          padding: 5px;
          color: inherit;
          text-decoration: none;

          &:hover {
            border-bottom: 3px solid $primary-font-color;
            transition: border-bottom 0.25s ease-out;
          }
        }
      }
    }
  }

  #nav-logo {
    background: darken($primary-background, 2%);
    padding: 25px;
    font-size: 3rem;
    font-family: $secondary-font;
    text-align: center;
    color: $primary-font-color;
  }

  #slider-menu {
    position: absolute;
    top: 0;
    right: 0;

    #toggle {
      margin: 15px 25px;
      padding: 3px;
      top: 0;
      right: 0;
      align-self: flex-end;
      cursor: pointer;
      position: relative;
      z-index: 2;
      
      &:hover {

        div:first-child {
          transform: translateY(9px) rotate(-135deg);
        }
        div:nth-child(2) {
          opacity: 0;
        }
        div:last-child {
          transform: translateY(-9px) rotate(135deg);
        }
      }
  
      div {
        background: #fff;
        height: 3px;
        width: 30px;
        margin-top: 6px;
        transition: all 0.2s ease-out;
      }
    }
  }
}

main {
  background: $primary-background;

  #featured-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    div {
      position: relative;

      img {
        max-width: 100%;
        height: auto;
      }
  
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(34, 34, 34, 0);
        transition: 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          display: none;
        }
      }

      &:hover .overlay {
        background: rgba(34, 34, 34, 0.5);
      }
      &:hover .overlay p {
        display: inline-block;
        color: rgba(255, 238, 255, 1);
      }
    }
  }
}

footer {
  background: $primary-background;
  padding: 50px 20px;
  color: $primary-font-color;
}

// Media Queries
@media (min-width: 1024px) {
  header{
    position: relative;

    nav {
      font-size: 1.3em;
      font-weight: 200;
      position: relative;
      width: 100vw;

      ul {
        margin: 5px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        li {
          display: inline-block;
          margin: 8px 20px;
        }
      }
    }

    #slider-menu {
      display: none;
    }
  }

  main {
    #featured-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}
